@use "../utils/mixins" as m ;
@use "../utils/variables" as v;
.fonctionnement{
    @include m.tablet-screen{
        text-align: center;
    }
    &_card{
        cursor: pointer;
        display: flex;
        align-items: center;
        @include m.fond-sombre;
        margin: 15px 20px;
        padding: 15px;
        padding-left: 30px;
        gap: 20px;
        border-radius: 20px; 
        position: relative;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
        transition: all 200ms;
        @include m.tablet-screen{
            margin: 0;
            padding: 10px 0 10px 40px;
            flex-basis: 33%;
            gap: 10px;
            font-size: 15px;
        }
        @include m.desktop-screen{
            padding-left: 50px;
            font-size: 16px;
        }
        .chiffre{
            position: absolute;
            top: 50%; left: 0; 
            transform: translate(-50%, -50%);
            background-color: v.$colour-primary;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            @include m.tablet-screen{
                width: 35px;
                height: 35px;
                transform: translate(0 , -50%);
            }
        }
        i{
            font-size: 1.5rem;
            transition: all 200ms;
            @include m.tablet-screen{
                font-size: 1rem;
            }
        }
        p{
            font-weight: 500;
        }
    }
    &_card:hover{
        background-color: v.$colour-hover;
        i{
            color: v.$colour-primary;
        }
    }
}
