html{
    font-family: $font-defaut;
    font-weight: 300;
}
header{
    text-align: center;
    font-size: 20px;
    font-family: $font-titre;
}
h1, h2, h3, p{
    margin: 0;
}
.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background-color: #EAEAEA;
    padding: 10px 0;
}
.reservation{
    background-color: $colour-fond;
    text-align: center;
    padding: 30px 15px;
    h2 , p{
        margin: 10px 0;
    }
    button{
        background: linear-gradient($colour-secondary, $colour-primary);
        color: #fff;
        border: none;
        padding: 15px;
        border-radius: 25px;
        font-size: 13px;
    }
}
.fonctionnement{
    padding: 10px;
    &_card{
        display: flex;
        justify-content: center;
        background-color: $colour-fond;
        margin: 15px 20px;
        padding: 15px;
        gap: 20px;
        border-radius: 25px; 
        position: relative;
        .chiffre{
            position: absolute;
            top: 50%; left: 0; 
            transform: translate(-50%, -50%);
            background-color: $colour-primary;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        p{
            font-weight: 500;
        }
    }
}
@media screen and (min-width:768px) {

}