@use "../utils/mixins"as m;
@use "../utils/variables"as v;

.img-menu {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.menu {
    margin-top: -70px;
    border-radius: 30px 30px 0 0;
    background-color: darken(v.$colour, 2%);
    z-index: 1;
    position: relative;
    &_section{
        display: flex;
        flex-direction: column;
        margin: 10px;
        @include m.tablet-screen{
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &_header {
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.tablet-screen{
            justify-content: center;
        }
        h2{
            font-size: 1.5rem;
        }
        i {
            font-size: 20px;
            margin-left: 5px;
        }
    }

    &_content {
        margin: 20px 0;

        @include m.tablet-screen{
            text-align: center;
            flex-basis: 30%;
        }
        hr{
            border: none;
            background-color: v.$colour-tertiaire;
            width: 5%;
            margin: 0;
            height: 3px;
            @include m.tablet-screen{
                margin: 0 auto;
            }
        }
    }

    &_choix {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 18px;
        margin: 15px 0;
        overflow: hidden;
        text-align: initial;
        .menu_checked {
            background-color: v.$colour-tertiaire;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;
            padding: 40px;
            i{
                color: v.$colour-tertiaire;
                background-color: v.$colour;
                padding: 5px;
                border-radius: 30px;
            }
        }
    }

    &_infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        padding: 10px;
    }

}