@use "../utils/mixins"as m;
@use "../utils/variables"as v;

.img-menu {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.menu {
    margin-top: -70px;
    border-radius: 30px 30px 0 0;
    background-color: darken(v.$colour, 2%);
    z-index: 1;
    position: relative;

    &_section {
        display: flex;
        flex-direction: column;
        margin: 10px;

        @include m.desktop-screen {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &_header {
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m.desktop-screen {
            justify-content: center;
        }

        h2 {

            font-size: 3.5rem;
        }

        i {
            font-size: 20px;
            margin-left: 5px;
            @include m.desktop-screen{
                @include m.mar10;
                font-size: 2rem;
            }
        }
    }

    &_content {
        margin: 20px 0;
        cursor: pointer;

        @include m.desktop-screen {
            text-align: center;
            width: 30%;
        }

        hr {
            border: none;
            background-color: v.$colour-tertiaire;
            width: 5%;
            margin: 0;
            height: 3px;

            @include m.desktop-screen {
                margin: 0 auto;
                width: 25%;
            }
        }
    }
    

    &_choix {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 18px;
        margin: 15px 0;
        overflow: hidden;
        text-align: initial;
        height: 90px;
        &:hover, &:focus{
            .menu_infos{
                    width: 65%;
                }
            
            .menu_prix p{
                margin-right: 5px;
                transform: translateX(-50%);
            }
            .menu_checked{
                display: flex;
                transform: scale( 1);
                width: 60%;
                i{
                    display: inline-block;
                }
            }
        }
        .menu_checked {
            background-color: v.$colour-tertiaire;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            width: 0%;
            transform: scale(0, 1);
            transform-origin: right;
            transition: 300ms ease-in-out;
            // display: none;
            @include m.tablet-screen{
                // width: 40%;
            }
            @include m.desktop-screen{
                // width: 60%;
            }
            i {
                color: v.$colour-tertiaire;
                background-color: v.$colour;
                padding: 5px;
                border-radius: 30px;
                display: none;
            }
        }
    }

    &_infos {
        width: 70%;
        @include m.mar10;
        h3,p {
            @include m.text-points
        }
        
    }

    &_prix {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: flex-end;
        p{
            margin-top: 20px;
            margin-right: 15px;
            transform: translateX(0);
            transition: transform 300ms;
        }
        
    }

}
.titreSection{
    font-size: 2.5rem;
}
.btn{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    @include m.tablet-screen{
        width: 30%;
    }
    @include m.desktop-screen{
        width: 20%;
    }
    button{
        width: 100%;
        @include m.btn_linear;
        &:hover{
                @include m.hover_btn;
        }
    }
}