@use "./fonctions" as *;
@use "./variables" as *;
@mixin pad10{
    padding: 10px;
}
@mixin mar10{
    margin-left: 10px;
}
@mixin text-points{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
@mixin fond-sombre($colour: fond-gris($colour)){
    background-color: $colour;
  }

@mixin tablet-screen {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin desktop-screen{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
