@use "./fonctions" as *;
@use "./variables" as *;
@mixin pad10{
    padding: 10px;
}
@mixin mar10{
    margin-left: 10px;
}
@mixin text-points{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@mixin btn_linear{
    background: linear-gradient($colour-secondary, $colour-primary);
        color: #fff;
        border: none;
        padding: 15px;
        border-radius: 25px;
        font-size: 13px;
        margin-top: 15px;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}
@mixin hover_btn {
    background: linear-gradient(lighten($colour-secondary, 5%), lighten($colour-primary, 5%));
    box-shadow: 5px 5px 7px 3px rgba(0,0,0,.5);
}
@mixin fond-sombre($colour: fond-gris($colour)){
    background-color: $colour;
  }

@mixin tablet-screen {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin desktop-screen{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
