
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap');


$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-fond: #F6F6F6;
$colour-hover: #F5EDFF;


$font-titre : 'Shrikhand', cursive;
$font-defaut : 'Roboto', sans-serif;